h1 {
  text-align: center;
}

@media screen and (min-width: 1024px) and (max-width: 1920px) {
  h1 {
    font-family: 'Red Rose';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 60px;
    margin: 50px 0;
  }
}


.inspiration {
  text-align: center;
}


@media screen and (max-width: 1203px) {
  h1 {
    font-size: 20px;
    
  }
  .inspiration {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 40px;
  }

  .flex-img-container{
    display: flex;
    flex-wrap: wrap;
  }
  .flex-img-container div {
    flex: 50%;
  }
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 1.5em;
    
  }
  .inspiration {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
  }
}
