.inspiration h1 {
 font-size: 20px;
  margin-bottom: 20px;
}

.inspiration {
  text-align: center;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
@media screen and (min-width: 768px) {
  .wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  .wrapper div{
    flex: 50%
  }
  .inspiration h1 {
    font-size: 30px;
  }
}





/* @media screen and (max-width: 1203px) {
  .inspiration h1 {
    font-size: 20px;
  }
  .inspiration {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 40px;
  }


}

@media screen and (max-width: 768px) {
  .inspiration h1 {
    font-size: 1.5em;
    
  }
  .inspiration {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
  }
} */
