.supported-platforms {
  background: #a02279;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 0.8em 0.5em;
  margin-top: 96px;
  margin-bottom: 56px;
  left: 0;
  right: 0;
}
.supported-platforms img {
  width: 10%;
}