 
.flex-container ul li {
    text-decoration: none;
    color: #434343;
}

.flex-container ul {
    display: flex;
    flex-direction: row;
    gap: 50px;
    font-size: 16px;
}

.flex-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.flex-container input {
background: linear-gradient(124.4deg, #FFFFFF 10.8%, #FFFFFF 87.34%);
border: 1px solid #B4B4B4;
border-radius: 8px;
height: 40px;
}