.about-container {
  background: linear-gradient(90deg, #a02279 11.45%, #a02279 11.45%);
  color: #fff;
}

.learn-more {
  color: #a02279;
  cursor: pointer;
  text-decoration: none;
  height: 48px;
  font-weight: 400;
  font-size: 16px;
  line-height: 48px;
  text-align: center;
  background: #fff;
  border-radius: 8px;
  width: 156px;
  max-width: 156px;
  margin-bottom: 30px;
}

@media screen and (min-width: 1350px) and (max-width: 1920px) {
  .about-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 100px;
  }

  .leftSide {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .rightSide {
    margin: 100px 0;
  }

  .aboutText {
    margin: 35px 0 57px 0 !important;
    width: 415px;
    line-height: 35px;
    font-size: 18px;
    font-weight: 400;
  }

  .about-container h1 {
    text-align: left;
    margin: 0;
  }

  .learn-more {
    color: #a02279;
    cursor: pointer;
    text-decoration: none;
    height: 48px;
    font-weight: 400;
    font-size: 16px;
    line-height: 48px;
    text-align: center;
    background: #fff;
    border-radius: 8px;
    width: 156px;
    max-width: 156px;
  }
}

@media screen and (min-width: 969px) and (max-width: 1349px){
  .about-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 100px;
  }

  .leftSide {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .rightSide {
    margin: 100px 0;
    margin-left: 20px;
  }
  .rightSide img {
    max-width: 40vw;
  }

  .aboutText {
    margin: 35px 0 57px 0 !important;
    width: 415px;
    line-height: 35px;
    font-size: 18px;
    font-weight: 400;
  }

  .about-container h1 {
    text-align: left;
    margin: 0;
  }

  .learn-more {
    color: #a02279;
    cursor: pointer;
    text-decoration: none;
    height: 48px;
    font-weight: 400;
    font-size: 16px;
    line-height: 48px;
    text-align: center;
    background: #fff;
    border-radius: 8px;
    width: 156px;
    max-width: 156px;
  }
}


@media screen and (max-width: 968px){
  .about-container {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    padding-left: 30px;
    padding-right: 30px;
  }

  .leftSide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .rightSide {
    margin: 100px 0;
    margin-left: 20px;
    
  }
  .rightSide img {
    max-width: 60vw;
  }

  .aboutText {
    margin: 35px 0 57px 0 !important;
    width: 60vw;
    line-height: 35px;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
  }

  .about-container h1 {
    text-align: center;
    margin: 0;
  }

  .learn-more {
    color: #a02279;
    cursor: pointer;
    text-decoration: none;
    height: 48px;
    font-weight: 400;
    font-size: 16px;
    line-height: 48px;
    text-align: center;
    background: #fff;
    border-radius: 8px;
    width: 156px;
    max-width: 156px;
    text-align: center;
  }
}
