.container {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  gap: 30px;
}

.header-content {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.header-content h1 {
  font-size: 2em;
  font-weight: 400;
  margin: 0;
}
.header-content span {
  color: #a02279;
  font-weight: 700;
}

.header-content p {
  font-size: 1em;
  font-weight: 400;
  line-height: 25px;
  margin: 0;
}

.search {
  display: flex;
  flex-direction: row;
  gap: 0;
}
.search input {
  width: 300px;
  height: 33px;
  background: rgba(247, 247, 247, 0.1);
  border: 1px solid #a3a3a3;
  border-radius: 8px 0px 0px 8px;
  font-family: "Red Rose", cursive;
}
.search button {
  width: 135px;
  border: none;
  background: linear-gradient(90deg, #a02279 11.45%, #a02279 11.46%);
  border-radius: 0px 8px 8px 0px;
  color: #ffffff;
  font-family: "Red Rose", cursive;
  font-size: 16px;
  cursor: pointer;
}
.search button:hover {
  background-color: green;
}
.search input::placeholder {
  font-size: 14px;
  font-family: "Red Rose", cursive;
  padding: 1rem;
  color: #b8b8b8;
}
input[type="text"] {
  padding-left: 1rem;
}

.image {
  text-align: center;
}
.image img {
  width: 80%;
  height: auto;
}

.front-page {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.supported-platforms {
  background: #a02279;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.35rem;
  /* width: 100vw; */
}
.supported-platforms img {
  width: 10%;
}

main {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.nft-sample-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.nft-samples {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.nft-samples img {
  width: 100%;
  height: auto;
  align-items: center;
}

.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(90deg, #a02279 11.45%, #a02279 11.45%);
  /* max-width: 480px; */
}
.about-container h1 {
  color: #ffffff;
}
.about-container p {
  color: #ffffff;
  font-size: 18px;
  line-height: 30px;
}
.learn-more a {
  color: #a02279;
  cursor: pointer;
  text-decoration: none;
}
.learn-more {
  display: flex;
  align-items: center;
  background: #ffffff;
  padding: 0.5rem;
  background: linear-gradient(124.4deg, #ffffff 10.8%, #ffffff 87.34%);
  border-radius: 8px;
  width: 150px;
  height: 50px;
}

.about-container img {
  width: 90%;
  height: auto;
}
