.wallet {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 80px;
}

.wallet-icon {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 130px;
  background: #f8f9fa;
  border: 1px solid #cfd8dc;
  border-radius: 12px;
  width: 320px;
  height: 50px;
  padding-left: 10px;
}
.wallet-icon div {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.modal {
  z-index: 1;
  width: 350px;
  height: 220px;
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 16px;
  position: relative;
  animation: animate 0.3s;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: left;
  gap: 20px;
  padding: 20px;
  height: 250px;
}
.modal button {
  position: absolute;
  top: 7px;
  right: 7px;
  background-color: #ffffff;
  padding: 8px 11px;
  color: gray;
  font-weight: bold;
  border: none;
  outline: none;
  border-radius: 2px;
  cursor: pointer;
}

.connect-div {
  padding: 5px;
  border-bottom: 1px solid rgb(174, 167, 167, 0.5);
  width: 320px;
}

.greater {
  color: #959da6;
  font-size: 12px;
}

p {
  font-size: 14px;
}
