/* Mobile styles */
li {
  list-style: none;
}


.mobile-menu {
  /* max-width: 480px; */
  display: flex;
  flex-direction: row;
  padding: 1rem;
  align-items: center;
  justify-content: flex-start;
  gap: 6rem;
}

.logo {
  width: 165px;
  height: 100;
}


.action-button {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

.connect-button {
  background: linear-gradient(90deg, #a02279 11.45%, #a02279 11.45%);
  color: #ffffff;
  border-radius: 10px;
  border: 0 solid #fdfdff;
  font-size: 18px;
  width: 150px;
  align-items: center;
  padding-bottom: 0.8rem;
  padding-top: 0.8rem;
  line-height: 20px;
  font-weight: 400;
  cursor: pointer;
}

.connect-button:hover{
 background-color: #ffffff;
}

/* Desktop and Tablet styles */
.desktop-view {
  display: none;
}
