
.jumbotron h1 {
  font-weight: 700;
  letter-spacing: -0.02em;
  color: #434343;
  text-align: left;
}
.jumbotron h1 span {
  color: #a02279;
}
.jumbotron p {
  font-size: 1.5em;
  font-weight: 400;
  line-height: 35px;
  letter-spacing: -0.02em;
  color: #434343; 
}
.search input, .search button{
  height: 54px;
}
.search input {
  background: rgba(31, 19, 19, 0.1);
  border: 1px solid #A3A3A3;
  border-radius: 8px 0px 0px 8px;
  padding: 1.25em 0 1.25em 1em;
  width: 390px;
}

.search button {
  padding: 1em 5.5em 1em 5.5em;
  color: #fff;
  background: linear-gradient(90deg, #A02279 11.45%, #A02279 11.46%);
  border-radius: 0px 8px 8px 0px;
  border: none;
  outline: none;
  cursor: pointer;
}


@media screen and (min-width :250px) and (max-width :599px) {
   .jumbotron {
    display: flex;
    flex-direction: column ;
    align-items: center;
    justify-content: center;
  }
  .jumbotron img {
    max-width: 100%;
    margin-top: 30px;
  }
  .jumbotron h1 span {
    color: #a02279;
  }

  .jumbotron h1 {
    font-size: 2em;
    text-align: left;
    margin: 0;
  }

  .jumbotron p {
    text-align: left;
    font-size: 1.25em;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: -0.02em;
    color: #434343;
    margin:  24px 0 32px 0;
  }
  .search input, .search button{
    height: 41px;
  }
  .search input {
    background: rgba(247, 247, 247, 0.1);
    border: 1px solid #A3A3A3;
    border-radius: 8px 8px 8px 8px;
    padding: 1.25em 0 1.25em 1em;
    width: 80%;
  }

  .search button {
    margin-top: 5px;
    padding: 1em;
    color: #fff;
    background: linear-gradient(90deg, #A02279 11.45%, #A02279 11.46%);
    border-radius: 5px 5px 5px 5px;
    border: none;
    outline: none;
    display: block;
  }
}


/* Desktop screens - standard */
@media screen and (min-width: 1300px) and (max-width: 1920px) {
  .jumbotron h1 {
    font-size: 3.5em;
    font-weight: 700;
    letter-spacing: -0.02em;
    color: #434343;
    max-width: 635px;
    text-align: justify;
  }
  .jumbotron h1 span {
    color: #a02279;
  }

  .jumbotron p {
    font-size: 1.5em;
    font-weight: 400;
    line-height: 35px;
    letter-spacing: -0.02em;
    color: #434343;
    max-width: 635px;
    margin:  48px 0 48px 0;
  }

  .search input, .search button{
    height: 54px;
  }
  .search input {
    background: rgba(247, 247, 247, 0.1);
    border: 1px solid #A3A3A3;
    border-radius: 8px 0px 0px 8px;
    padding: 1.25em 0 1.25em 1em;
    width: 390px;
  }

  .search button {
    width: 230px;
    padding: 1em 5.5em 1em 5.5em;
    color: #fff;
    background: linear-gradient(90deg, #A02279 11.45%, #A02279 11.46%);
    border-radius: 0px 8px 8px 0px;
    border: none;
    outline: none;
    cursor: pointer;
  }

  .jumbotron .image {
    min-width: 480px;
  }
  .jumbotron {
    margin-top: 120px;
    display: flex;
    justify-content: space-between;
  }
}

/* Desktop screens - small */
@media screen and (min-width: 969px) and (max-width: 1299px) {
  .jumbotron h1 {
    font-size: 2.5em;
    font-weight: 700;
    letter-spacing: -0.02em;
    color: #434343;
    text-align: left;
    max-width: 550px;
  }
  .jumbotron h1 span {
    color: #a02279;
  }

  .jumbotron p {
    font-size: 1.5em;
    font-weight: 400;
    line-height: 35px;
    letter-spacing: -0.02em;
    color: #434343;
    max-width: 500px;
    margin:  40px 0 40px 0;
  }

  .search input, .search button{
    height: 54px;
  }
  .search input {
    background: rgba(247, 247, 247, 0.1);
    border: 1px solid #A3A3A3;
    border-radius: 8px 8px 8px 8px;
    padding: 1.25em 0 1.25em 1em;
    width: 390px;
  }

  .search button {
    width: 230px;
    padding: 1em 5.5em 1em 5.5em;
    color: #fff;
    background: linear-gradient(90deg, #A02279 11.45%, #A02279 11.46%);
    border-radius: 8px 8px 8px 8px;
    border: none;
    outline: none;
    cursor: pointer;
    margin-top: 1em;
    display: block;
  }

  .jumbotron .image {
    min-width: 480px;
  }
  .jumbotron {
    margin-top: 120px;
    display: flex;
    justify-content: space-between;
  }
}

/** Hacky media query */
@media screen and (min-width: 969px) and (max-width: 1150px) {
  .jumbotron p {
   
    max-width: 440px;
    margin:  40px 0 40px 0;
  }
}




/* Tablet */
@media screen and (min-width:600px) and (max-width: 968px) {
  .jumbotron {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 70px;
    gap: 50px;
  }
  .jumbotron h1 {
    font-size: 2em;
    
  }
  .jumbotron img {
    width: 35vw;
  }
  .jumbotron p {
    font-size: 1em;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.02em;
    color: #434343;
    max-width: 635px;
    margin:  48px 0 48px 0;
  }
  .search input, .search button{
    height: 41px;
  }
  .search input {
    background: rgba(247, 247, 247, 0.1);
    border: 1px solid #A3A3A3;
    border-radius: 8px 0px 0px 8px;
    padding: 1.25em 0 1.25em 1em;
    width: 25vw;
  }

  .search button {
    width: 5px;
    padding: 1em 5.5em 1em 5.5em;
    color: #fff;
    background: linear-gradient(90deg, #A02279 11.45%, #A02279 11.46%);
    border-radius: 0px 8px 8px 0px;
    border: none;
    outline: none;
    cursor: pointer;
  }
};


