.place {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
};

@media screen and (min-width: 768px){
    .place {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
    }
    .place div {
        flex: 50%;
    }

}


/* .inspiration {
    text-align: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 5px;
  }
  @media screen and (min-width: 768px) {
    .wrapper{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 20px;
    }
    .wrapper div{
      flex: 50%
    }
  } */